body {
    background: black;
    background-image: url('http://i.imgur.com/f0RMe3W.jpg');
/*    background-image: url(/img/background2.jpg);*/
    
}

#main h2, #main h5 {
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
    color: white;
}

hr {
    border-color: #656565;
}

/*
a:focus, a:hover {
    text-decoration: none;
}
*/

#top {
    background-color: black;
}

#logo {
    height: 150px;
    width: auto;
    
    margin: 10px auto;
    box-sizing: border-box;
}

#navigationmenu li {
    font-size: 30px;
    text-transform: uppercase;
    font-family: "Ubuntu", sans-serif;   
}

#navigationmenu a {
    /*    color: white;    */
}

/****----- Middle Part -----****/
#middle {
    padding: 20xp;    
}

/****----- Sidebar Part -----****/
#sidenav {
    box-sizing: border-box;
}

#side-wrap {
    background-color: #1e1e1e;
    padding: 15px;
}

#side-wrap .panel {
    border-color: #656565;
    border-radius: 0px;
}

#side-wrap .panel-heading {
    background-color: #1e1e1e;
    text-align: center;
    border-radius: 0;
    border-bottom-color: #656565;
    color: #EAEAEA;
    
    font-size: 20px;
    font-family: sans-serif;
    text-transform: uppercase;
}

.panel-body, .panel {
    background-color: #1e1e1e;
}

.panel-body > p, .panel > p {
    color: #EAEAEA;
    margin: 0;
    font-family: Open Sans;
    font-size: 1.2em;
    line-height: 1.1;
}

.sidebar-nav .navbar {
    border-radius: 0;
    border-color: #656565;
}

.sidebar-nav li {
    background-color: #1e1e1e;
    border-bottom-color: #656565;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
/*    color: rgb(229, 146, 0);*/
    color: #888888;
}

/****---- For Lunch Special ----****/
.navbar-default .navbar-nav>li:first-child {
    background-color: yellow;
}

.navbar-default .navbar-nav>li:first-child>a {
    color: black;
}

.side-description {
    padding: 10px;
    font: normal normal normal 13px/1.4em 'Open Sans',sans-serif
}

#about-us {
    font: normal normal normal 18px/1.4em 'Open Sans',sans-serif;
}

.side-bar-bottom > p:first-child {
    color: #EAEAEA;
    font: normal normal normal 14px/1.4em 'Open Sans',sans-serif;
}

.side-bar-bottom ul {
    padding-left: 0;
}

.side-bar-bottom ul li {
    display: inline;
}

.side-bar-bottom ul li a {
    color: white;
}

#social-fb {
    color: #4d6bab;
}
#social-tw {
    color: #4099FF;
}
#social-gp {
    color: #d34836;
}
#social-em {
    color: #f39c12;
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */

    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}


#social-fb:hover {
    color: #3B5998;
}
#social-tw:hover {
    color: #4099FF;
}
#social-gp:hover {
    color: #d34836;
}
#social-em:hover {
    color: #f39c12;
}

.side-bar-bottom > p:last-child{
    color: #999999;
    font: normal normal normal 14px/1.4em 'Open Sans',sans-serif;
}

/****----- Carousel -----****/
#featured {
    margin: 10px auto;
}

#featured .carousel-inner img {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

#contact-carousel {
    overflow: hidden;
}

#contact-carousel .carousel-inner img {
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

/****----- Main Section -----****/
#main {
/*    background-color: #1e1e1e;*/
}

#main .container {
    background-color: #1e1e1e;
}

.list-group-item-heading {
    list-style: none;
}

.list-group-item-heading h1 {
    color: #fff;
    font: 300 48px/48px "Ubuntu", sans-serif;
}

.list-group-item-heading h1 small {
    color: #b69d6a;
    font-style: italic;
    font-size: 0.35em;
    text-transform: capitalize;
}

.list-group li {
/*    color: white;*/
    font: 300 24px/36px "Ubuntu", sans-serif;
/*    text-transform: uppercase;*/
/*    font-family: Delius,handwriting;*/
    background-color: #1e1e1e;
}

.list-group-item {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    width: 100%;
}

.item-row {
    display: -webkit-flex;
    -webkit-flex-direction: row;
}

.item-row span:first-child{
    color: azure;
    order: 0;
}

.item-row span:first-child small {
    color: darkgray;
    font-family: 'Open Sans',sans-serif;
}

.item-row span+span {
    color: rgb(229, 146, 0);
    margin-left: auto;
    font-family: "Ubuntu", sans-serif;
    order: 1;
}

.list-group-item .subscript {
    color: #888888;
    font-size: .70em;
}

#lunch-special > li:first-child > p {
    color: #888888;
}

#lunch-special > li+li {
    border: 2px dashed rgb(255, 255, 128);
}

.extra {
    color: rgb(128, 128, 128);
    list-style: none;
}

.extra .price {
    color: rgb(229, 146, 0);
}

/****----- Feedback Section -----****/
.feedback-item p {
    color: #EAEAEA;
}

.feedback-item p:first-child {
    font: normal bold normal 20px/1.4em 'Open Sans',sans-serif;
}

.feedback-item p+p {
    font: normal normal normal 16px/1.4em 'Open Sans',sans-serif;
}

/****----- Map Section -----****/
#my-map {
    height: 300px;
    width: auto;
}

/****----- Footer Section -----****/
#pageBottom {
/*    border: 1px solid white;*/
    color: white;
    font-size: 14px;
    padding-left: 0px;
/*    background-color: #a88462;*/
}

/****----- Feature Section -----****/
.return-top {
    position: fixed;
    right: 2.5%;
    bottom: 5%;
    width: 40px;
    height: 40px;
    background-color: #cccccc;
    display: none;

    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;

    padding-bottom: 5px;
    border-radius: 6px;
    font-size: 2.5em;
}

.return-top:focus, .return-top:hover {
    text-decoration: none;
}

/****----- Feature Section -----****/
.form-control {
    border: none;
    background-color: rgba(101, 101, 101, 1);
}

.form-control:focus {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

textarea.form-control {
    height: 150px;
}

form > .btn, form > .btn:hover {
    color: azure;
    background-color: rgba(51, 51, 51, 1);
}


form > .btn:active:focus, form > .btn:focus{
    outline: none;
}

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    
    #nav-wrap {
        z-index: 999;
        background-color: black;
    }
    
    #navigationmenu {
        padding-bottom: 20px;
        border-bottom: 1px solid #656565;
    }
    
    .fixed {
        border: 1px solid white;
        border-top: none;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
    }
    
    #middle {
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    #sidenav {
        padding-top: 20px;
    }
    
    #sidenav {
        height: auto;
        margin-right: 15px;
        box-sizing: border-box;
        padding: 10px;
    }
    
    #side-wrap {
        width: auto;
        height: 100%;
    }

    #side-hour {
        width: 100%;
    }
    
    #side-wrap > .side-description {
        border: none;
    }
    
    #top {
        display: -webkit-flex;
        display: flex;
    }
    
    #nav-wrap {
        -webkit-align-self: center;
        align-self: center;
        display: -webkit-flex;
        display: flex;
    }
    
    #nav-wrap ul {
        display: -webkit-flex;
        -webkit-flex-flow: row
        -webkit-justify-content: space-around;
    }
    
    #featured {
        box-sizing: border-box;
        margin: 15px;
    }
    
    #contact-carousel {
        box-sizing: border-box;
        height: 300px;
    }
    
    #categories > li > a {
        padding-top: 3px;
        padding-bottom: 3px;
    }
    
    #categories > li > a:focus {
        color: #888888;
    }
    
    /****----- Main Section -----****/
    #main .container {
        padding-top: 20px;
        padding-right: 50px;
        padding-bottom: 100px;    
        padding-left: 50px;    
        margin: 10px auto;
        width: 100%;
        min-height: 500px;
    }
    
    #main ul {
        padding-top: 40px;
        overflow-x: hidden;
    }
    
    #main .container .row:first-child {
        padding: 0;
        margin: 0;
    }
    
    /****----- Feedback Section -----****/
    .feedback h2 {
        color: #fff;
        font: 300 36px/48px "Ubuntu", sans-serif;
    }
    
    .feedback-group {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        
        padding: 15px;
    }
    
    .feedback-group > * {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    
    
    
    
    .list-group-item-heading h1 {
        padding-bottom: 20px;
        border-bottom: 1px solid #e69e00;
/*        border-bottom: 1px solid #b69d6a;*/
    }
    
    #main li {
        width: auto;
        border: none;
        font-size: 20px;
        padding-left: 0;
        padding-right: 0;
    }
    
    .list-group-item-heading {
        
    }
    
    .list-group-item-heading h1 {
        
    }
    
    /* Menu Dot Leader Control */
    .item-row:before{
        color: rgba(178, 177, 177, 1);   
        float: left;
        width: 0;
        white-space: nowrap;
        content:
            ". . . . . . . . . . . . . . . . . . . . "
            ". . . . . . . . . . . . . . . . . . . . "
            ". . . . . . . . . . . . . . . . . . . . "
            ". . . . . . . . . . . . . . . . . . . . "
            ". . . . . . . . . . . . . . . . . . . . ";
    }

    .item-row span:first-child {
        font-size: 1.2em;
        padding-right: 0.33em;
        background: #1e1e1e;
/*        text-transform: uppercase;*/
    }
    
    .item-row span + span {
        font-size: 1.1em;
        padding-left: 0.33em;
        background: #1e1e1e;
    }
    
    .list-group-item .subscript {
/*        display: inline-block;*/
        padding-top: 0;
        line-height: 110%;
        text-transform: capitalize;
    }
    
    .return-top {
        position: fixed;
        right: 2.5%;
        bottom: 5%;
        width: 40px;
        height: 40px;
        background-color: #cccccc;
        display: none;
        
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;
        
        padding-bottom: 5px;
        border-radius: 6px;
        font-size: 2.5em;
    }
    
    #pageBottom {
        margin-left: -15px;
        padding: 25px;
    }
}



/* Medium Devices, Desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    #top {
        display: -webkit-flex;
        -webkit-flex-flow: column;
    }

    #nav-wrap {
        -webkit-align-self: center;
    }
    
    #main {
        padding-left: 0px;
    }
    #sidenav {
        padding-top: 15px;
        padding-left: 0px;
        padding-right: 0px;    
    }
    
    #pageBottom {
        margin-left: -15px;
    }
}



/* Small Devices, Tablets */
@media (min-width: 768px) {
    
    #navigationmenu .navbar-nav {
        display: -webkit-flex;
        -webkit-flex-wrap: wrap;
        -webkit-justify-content: center;
    }
    
    #main {
        padding-left: 0px;
    }
    
    #sidenav {
        padding-left: 0;
    }
    
    .sidebar-nav {
        margin: 15px auto;
    }
    
    .sidebar-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .sidebar-nav .navbar ul {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li {
        float: none;
        display: block;
    }
    .sidebar-nav .navbar li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}